*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #eaeaea;
}
.navbar{
    display: flex;
    margin-top: 35px;
    margin-left: 100px;
    gap: 2rem;
}
.icon:hover{
    cursor: pointer;
}
.logobox{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 200px;
}

.options{
    display: flex;
    justify-content: space-evenly;
    margin-left: 7rem;
    height: 50px;
    width: 700px;

}
img{
    width: 140px;
    height: 50px;
    object-fit: cover;
}
main{
    display: flex;
    justify-content: space-evenly;
}
.box1{
    padding: 80px;
    flex-wrap: wrap;
    height: 200px;
    width: 450px;
    /* border: 1px solid red; */
}
.name{
    display: flex;
    justify-content: space-evenly;
    align-items:flex-end;
    font-size: 2.5rem;
    font-weight: 550;
    height: 80px;
    width: 270px;
    /* border: 2px solid black; */
}

.about-my-self{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 10px; */
    height: 50px;
    width: 30rem;
    padding: 5px;
    /* border: 2px solid black; */
}
.btn{
    padding: 10px;
    background-color: black;
    color: white;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
}
.box2{
    height: 390px;
    width: 660px;
    /* border: 2px solid violet; */
}
.myPic{
    height: 400px;
    width: 600px;
    background-image: url(./evan-you.jpg);
    background-size: cover;
    border-radius: 10px;
    margin: 15px;
}
.box3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    width: 300px;
    /* border: 2px solid saddlebrown; */
    font-size:xx-large;
}